@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fd9104;
    --secondary-color: #692c03;
    --text-color: black;
    --gold-color: gold;
    --white-color: #fff;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

h2{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
}

p{
    font-size: 1.5rem;
    font-weight: 500;
}

header{
    background: var(--primary-color);
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 150px;
    height: 150px;
    transform: translateX(-60px);
}

nav{
    max-width: 700px;
    width: 100%;
    transform: translateX(-140px);
}

.nav-list{
    display: flex;
    justify-content: space-around;  
    margin-top: 50px;
}

.nav-list a{
    color: var(--secondary-color);
    font-size: 2rem;
    text-transform: uppercase;
}

.hamburger{
    background-color: var(--secondary-color);
    width: 70px;
    height: 70px;
    position: absolute;
    top: 45px;
    right: 15px;
    cursor: pointer;
    z-index: 2000;
}

.bar{
    background-color: var(--primary-color); 
    height: 2px;
    width: 30px;
    position: relative;
    display: flex;
}

.bar::before, .bar::after{
   content: '';
   position: absolute;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--primary-color);
}

.bar::before{
   top: 8px;
}

.bar::after{
   bottom: 8px;
}

.hamburger.active .bar::before{
   top: 0;
   transform: rotate(45deg);
}

.hamburger.active .bar::after{
    top: 0;
    transform: rotate(-45deg);
}

.hamburger.active .bar{
    background-color: transparent;
}




#landing{
    height: 100vh;
    position: relative;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s ease-in-out;    
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

.slide-photo{
    width: 50%;   
}

.content{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    transform: skewX(10deg);
}

.content::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content h1, .content p{
    margin-bottom: 3rem;
}

.content p{
    padding: 0 1rem;
}

.slide#current, .slide#currentS{
    opacity: 1;
}

#about, #services{
    width: 50%;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}




#services{
    margin-top: 2rem;
}

.service{
    padding: 1rem;
}

.service .icon{
    margin: 1rem 0; 
}

.service h2{
    font-size: 1.5rem;
    text-align: center;
}

aside{
    width: 48%;
    background-color: var(--secondary-color);
    position: absolute;
    left: 50.5%;
    height: 100%;
    top: 47.5rem;
    margin-left: 1rem;
    color: var(--white-color);
}

aside h4{
    text-align: center;
}

aside h1{
    font-size: 2.5rem;
}

aside a{
    color: var(--primary-color);
}

.slide-photos{
    width: 450px;
    height: 450px;
    margin-top: 7rem;
}




.form{
    width: 50%;
    height: 600px;
    background-image: url(../IMG/Keyboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 5px 0 0;
    color: var(--white-color);
    position: relative;
}

.form::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-color: rgba(0, 0, 0, .4);
}

.form h1{
    font-size: 2.5rem;
    color: var(--primary-color);
    z-index: 10000;
}

.form-group{
    margin: 2rem;
    z-index: 1000;
}

label{
    margin-right: 1rem;
    font-size: 1.6rem;
}

input, textarea{
    font-size: 1.6rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    z-index: 1000;
}

textarea{
    resize: none;
}

.form .btn{
    margin-top: 3rem;
    padding: 1rem 4rem !important;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    z-index: 10000;
}      




.about-container{
    width: 50%;  
}

.brief-story{
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 1rem; 
}    

.brief-story h1{
    color: #fff;
}

.brief-story p{
    color: var(--primary-color);
    margin-top: 2rem;
}



.values{
    background: var(--primary-color);
    padding: 10px;
    color: var(--secondary-color);
}

.value{
    margin-bottom: 1rem;
}

#core li{
    text-transform: capitalize;
}


#products-container{
    width: 100%;
    margin-top: 2rem;   
}

.product{
    background: var(--secondary-color);
    width: 400px;
    position: relative;
    color: #fff;
}

.pb{
    padding-bottom: 5rem;
}

.product-photo{
    width: 200px;
    height: 200px;
    margin: 15px auto;
}


.product-desc{
    font-size: .2rem !important;
    padding: 1rem;
}

.product .btn:hover{
    transform: none;
} 

.product-desc p{
    margin-top: 1rem;
}

.product .btn{
    position: absolute; 
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer{
    background: var(--secondary-color);   
    width: 100%;
    margin-top: 1rem;
    justify-content: initial;
    align-items: initial;
}

.left, .right{
    width: 50%;
    padding: 1rem;
}

.right, .contact a{
    color: var(--white-color);
}

.footer-services h2{
    font-size: 1.9rem;    
}

.social-profile{
    width: 50%;
    justify-content: space-around !important;
}

.social-profile a{
    font-size: 3rem;
    color: var(--primary-color);
}

.copyright{
    margin-top: 3rem;
    color: var(--primary-color);
}

.right h2{
    margin-bottom: 1rem;
}

.contact a{
    font-size: 1.6rem;
    text-transform: capitalize;
}


/* Media Queries */

@media(max-width: 768px){
    
    body{
        overflow-x: hidden;
    }

    header{
        height: 140px;
        position: relative; 
    }
    
    nav{
        z-index: 1000;
        height: 400px;
        position: absolute;
        right: 0;
        width: 40%;
       transform: translateX(25px);
       transform: translateY(45px);
    }

    .nav-list{
        flex-flow: column;
        margin-left: 15px;
        margin-top: 15px;
        background: var(--primary-color);
        visibility: hidden;
    }

    .nav-list.active{
        visibility: visible;
    }
    
    .nav-list li{
        margin: 15px;
    }

    .logo{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 100px;
        margin-top: 15px;
    }

    footer{
        flex-flow: column-reverse;
    }

    .left{
        width: 100%;
        margin-top: 1rem;
    }

    .social-profile li{
        margin: 0 5rem;
    }

    .copyright{
        width: 35rem;
        text-align: center;
    }
    
    .right{
        width: 100%;
        margin: 0 auto;
    }
    
    .slide{
        margin-right: 1rem;
        height: 60%;
    }

   .slide-photo{
        transform: skewX(10deg);
        width: 45%;   
    }
    
    .content{
       width: 50%;   
    }
    
    .content h1{
        text-align: center;
        font-size: 2rem; 
   }

   aside{
       top: 58rem;
       height: 60%;
   }

   #about{
       position: absolute;
       top: 58rem;
    }

    .services{
        grid-template-columns: repeat(2, 1fr) !important;
    }

    #services h1, #about h1{
        font-size: 2rem;
    }

    .service{
        padding: 0;
    }

    .service h2{
        font-size: 1.2rem;
    }

    .slide-photos{
        margin-top: 11rem;
    }

    aside h1{
        font-size: 2rem;
        margin-bottom: 5px;
    }

    aside a{
        font-size: 1rem;
    }

    .about-container{
        width: 100%;
    }

    .values{
        width: 95%;
    }    

    #products{
        grid-template-columns: repeat(2, 1fr);
    }

    .product{
        width: 300px;
        margin: 0 auto;
    }

    .product-desc p{
        font-size: 1.3rem;
    }

    .sm{
        margin-bottom: 6rem;
    }

    .form{
        width: 100%;
        margin: 0 auto;
    }

}